<form [formGroup]="form">
  <p>帳號 :</p>
  <input formControlName="account">
  <!-- @if (form.get('account')?.touched && form.get('account')?.invalid){
    <p><span class="Red">驗證錯誤!</span></p>
  } -->
@if (form.get('account')?.touched && form.get('account')?.getError('required')){
    <p><span class="Red">此欄位必填!</span></p>
}

@if (form.get('account')?.touched && form.get('account')?.getError('minlength')){
    <p><span class="Red">帳號長度需要大於 4</span></p>
}

  <p>isvalid: {{ form.get('account')?.valid  }}</p>
  <p>istouched: {{ form.get('account')?.touched }}</p>
  <p>isdirty: {{ form.get('account')?.dirty }}</p>
  <p>error: {{ form.get('account')?.errors | json }}</p>

  <p>密碼 :</p>
  <input formControlName="password">

  <div formGroupName="info">
    <p>個人資訊 :</p>
    <p>年齡</p>
    <input formControlName="age">
    <p>身高</p>
    <input formControlName="tall">
  </div>

  <br>

  <span>地址</span><button>新增地址</button>
    <div formArrayName="address">
@for (addr of getAddress(); track $index) {
      <div>
        <input [formControlName]="$index">
      </div>
}
  </div>
</form>

<br>

<button (click)="submit()">送出</button>
<button (click)="clear()">清除</button>
